<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vinicius Garcia - Acadêmico</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div>
    <img class="cover" src="/images/v617batch2-bb-01-technology.jpg" alt="">
</div>
<div class=" container">
    <div class="header">
        <div>

            <div>
                <img class="photo" src="/images/IMG_4758.jpg" alt="">
            </div>

        </div>

        <div class="info">
            <h1 th:text="${nome}"></h1>
            <h4 th:text="${cargo}"></h4>
            <p th:text="${email}"></p>
            <p th:text="${telefone}"></p>
            <p th:text="${dataNasc}"></p>
            <div class="social-media">
                <a href="https://github.com/Vinidsg">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/vinicius-garcia-268274163/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </div>

        <div class="experiences">
            <ul class="pagination">
                <li class="page-item " aria-current="page">
                    <a class="page-link" href="/index">Experiências</a>
                </li>
                <li class="page-item">
                    <a class="page-link active">Informações Acadêmicas</a>
                </li>
            </ul>
        </div>

        <div class="experiences">
            <div>
                <img class="logo" src="/images/Logo Senac.png" alt="">
            </div>
            <div>
                <h3>Informações Acadêmicas</h3>
                <h6 th:text="${universidade}"></h6>
                <p th:text="${curso}"></p>
                <p th:text="${periodo}"></p>
                <p th:text="${localidade}"></p>
                <p th:text="${descCurso}"></p>
                <ul>
                    <th:block th:each="skills : ${listaDeSkills}">
                        <li th:text="${skills}"></li>
                    </th:block>
                </ul>
            </div>
        </div>

        <div class="otherExperiences">
            <div>
                <h3>Outros conhecimentos e interesses</h3>
                <ul>
                    <th:block th:each="outros : ${outros}">
                        <li th:text="${outros}"></li>
                    </th:block>
                </ul>
            </div>
        </div>

        <div class="experiences">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Idioma</th>
                    <th scope="col">Leitura</th>
                    <th scope="col">Escrita</th>
                    <th scope="col">Conversação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="idioma : ${idiomas}">
                    <td th:text="${idioma.nome}"></td>
                    <td th:text="${idioma.leitura}"></td>
                    <td th:text="${idioma.escrita}"></td>
                    <td th:text="${idioma.conversacao}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

<div>
    <img class="cover" src="/images/FooterImg.jpg" alt="">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>